---
import '../styles/global.css';

import directus from "../lib/directus";
import { readSingleton } from "@directus/sdk";

const site = await directus.request(readSingleton("kepka"));
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>{site.title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
